[submodule "bundle/dracula-theme"]
	path = bundle/dracula-theme
	url = git@github.com:dracula/vim.git
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = git@github.com:davidhalter/jedi-vim.git
[submodule "bundle/br-colorschemes"]
	path = bundle/br-colorschemes
	url = git@github.com:BarretRen/vim-colorscheme.git
